{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-box">
        <div class="login-logo">
            <b>{{ 'layout.register'|trans }}</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Register to to became a provider</p>

            <form action="{{ path("fos_user_registration_register") }}" method="post">
                {{ form_start(form) }}
                {{ form_errors(form.email) }}
                <div class="form-group has-feedback">
                    {{ form_widget(form.email, {
                        'attr':{
                            'class': 'form-control',
                            'placeholder':  'form.email'|trans
                        }
                    }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {{ form_errors(form.username) }}
                <div class="form-group has-feedback">
                    {{ form_widget(form.username, {
                        'attr':{
                            'class': 'form-control',
                            'placeholder':  'form.username'|trans
                        }
                    }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {{ form_errors(form.plainPassword.first) }}
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.first, {
                        'attr':{
                            'class': 'form-control',
                            'placeholder':  'form.password'|trans
                        }
                    }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {{ form_errors(form.plainPassword.second) }}
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.second, {
                        'attr':{
                            'class': 'form-control',
                            'placeholder':  'form.password_confirmation'|trans
                        }
                    }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" id="_submit" name="_submit"
                                class="btn btn-primary btn-block btn-flat">{{ 'registration.submit'|trans }}</button>
                    </div>
                    <!-- /.col -->
                </div>
                {{ form_start(form) }}
                {{ form_end(form) }}

            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
