{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{% endblock%}
{% block page_title %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_rest(form) }}
                </div>
                <div class="box-footer clearfix">

                    <a class="btn btn-warning margin" href="{{ path('ringtones') }}">Back</a>

                    <button type="submit" class="btn btn-primary pull-right margin">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                        Update</button>
                </div>
                {{ form_end(form) }}
            </div>


            <div class="box box-primary">
                <div class="box-header">
                    Delete
                </div>

                <div class="box-footer clearfix">
                    {{ form_start(delete_form) }}
                        {{ form_rest(delete_form) }}
                    {{ form_end(delete_form) }}
                </div>
            </div>


        </div>
    </div>

{% endblock %}
